.markdown {
  overflow: hidden;
  line-height: 1.6;
  -webkit-overflow-scrolling: touch;

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin-top: 0;
    margin-bottom: $spacer-4;
  }

  //
  // Anchor
  //

  a {
    color: $blue-500;
    text-decoration: none;
  }

  //
  // Blockquote
  //

  blockquote {
    padding: 0 $spacer-4;
    margin: 0;
    color: $gray-500;
    border-left: .25rem solid $gray-200;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  //
  // Code
  //

  code {
    border-radius: .25rem;
  }

  :not(pre) > code {
    padding: $spacer-1 $spacer-2;
    background: rgba($black, .05);
  }

  pre {
    > code {
      padding: $spacer-2 $spacer-4;
    }
  }

  //
  // Heading
  //

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacer-8;
    margin-bottom: $spacer-4;
    font-weight: 700;
    line-height: 1;

    code {
      font-size: inherit;
    }
  }

  h1 {
    padding-bottom: $spacer-3;
    font-size: 2rem;
    border-bottom: $separator;
  }

  h2 {
    padding-bottom: $spacer-3;
    font-size: 1.5rem;
    border-bottom: $separator;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: .875rem;
  }

  h6 {
    font-size: .875rem;
    color: $gray-500;
  }

  //
  // Horizontal rule
  //

  hr {
    border-top: $separator;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  //
  // Image
  //

  img {
    max-width: 100%;
  }

  //
  // List
  //

  ol,
  ul {
    ol,
    ul {
      margin-top: $spacer-2;
      margin-bottom: 0;
    }

    li + li {
      margin-top: $spacer-2;
    }
  }

  //
  // Table
  //

  table {
    display: block;
    overflow: auto;
    line-height: 1;
    border-collapse: collapse;

    tr {
      &:nth-child(2n) {
        background-color: rgba($black, .04);
      }
    }

    th {
      font-weight: 700;
    }

    th,
    td {
      padding: $spacer-3 $spacer-4;
      border: 1px solid $gray-300;
    }
  }
}
