$spacer: .25rem !default;

$spacer-0: 0 !default;
$spacer-1: $spacer !default;
$spacer-2: $spacer * 2 !default;
$spacer-3: $spacer * 3 !default;
$spacer-4: $spacer * 4 !default;
$spacer-5: $spacer * 5 !default;
$spacer-6: $spacer * 6 !default;
$spacer-7: $spacer * 7 !default;
$spacer-8: $spacer * 8 !default;
$spacer-9: $spacer * 9 !default;
